Repository robjohn8989/EA31337, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI, Docker, git, MQL4, MQL5

Startup fixes
  src/EA31337.mq5
  src/include/includes.h
  src/include/inputs.h
Labels: none

Removes unwanted legacy code
  src/include/EA31337.legacy.mqh
Labels: none

Hides all strategy inputs for non-Advanced modes
  src/include/common/code-conf.h
  src/include/common/mode.h
  src/include/includes.h
Labels: none

Input refactor
  src/EA31337.mq5
  src/include/common/advanced/ea-input.mqh
  src/include/common/code-conf.h
  src/include/common/lite/ea-input.mqh
  src/include/common/properties.h
  src/include/common/rider/ea-input.mqh
  src/include/includes.h
  src/include/inputs.h
Labels: none

Adds stop and closetime params
  src/EA31337.mq5
  src/include/common/advanced/ea-input.mqh
  src/include/common/code-conf.h
  src/include/common/enum.h
  src/include/common/enums.h
  src/include/common/lite/ea-input.mqh
  src/include/common/property.h
  src/include/common/rider/ea-input.mqh
  src/include/common/struct.h
  src/include/includes.h
  src/include/inputs.h
Labels: none

pre-commit: Disables markdownlint
  .pre-commit-config.yaml
Labels: none

GHA: Adds workflow to optimize strategies timeframes
  .github/workflows/backtest.yml
  .github/workflows/compile.yml
  .github/workflows/optimize-strats-tf.yml
  sets/optimize/strategies/tf/AC_Active_Tf.set
  sets/optimize/strategies/tf/ADX_Active_Tf.set
  sets/optimize/strategies/tf/AD_Active_Tf.set
  sets/optimize/strategies/tf/ATR_Active_Tf.set
  sets/optimize/strategies/tf/Alligator_Active_Tf.set
  sets/optimize/strategies/tf/Awesome_Active_Tf.set
  sets/optimize/strategies/tf/BWMFI_Active_Tf.set
  sets/optimize/strategies/tf/Bands_Active_Tf.set
  sets/optimize/strategies/tf/BearsPower_Active_Tf.set
  sets/optimize/strategies/tf/BullsPower_Active_Tf.set
  sets/optimize/strategies/tf/CCI_Active_Tf.set
  sets/optimize/strategies/tf/DeMarker_Active_Tf.set
  sets/optimize/strategies/tf/ElliottWave_Active_Tf.set.disabled
  sets/optimize/strategies/tf/Envelopes_Active_Tf.set
  sets/optimize/strategies/tf/Force_Active_Tf.set
  sets/optimize/strategies/tf/Fractals_Active_Tf.set
  sets/optimize/strategies/tf/Gator_Active_Tf.set
  sets/optimize/strategies/tf/Ichimoku_Active_Tf.set
  sets/optimize/strategies/tf/MACD_Active_Tf.set
  sets/optimize/strategies/tf/MA_Active_Tf.set
  sets/optimize/strategies/tf/MFI_Active_Tf.set
  sets/optimize/strategies/tf/Momentum_Active_Tf.set
  sets/optimize/strategies/tf/OBV_Active_Tf.set
  sets/optimize/strategies/tf/OsMA_Active_Tf.set
  sets/optimize/strategies/tf/RSI_Active_Tf.set
  sets/optimize/strategies/tf/RVI_Active_Tf.set
  sets/optimize/strategies/tf/SAR_Active_Tf.set
  sets/optimize/strategies/tf/StdDev_Active_Tf.set
  sets/optimize/strategies/tf/Stochastic_Active_Tf.set
  sets/optimize/strategies/tf/WPR_Active_Tf.set
  sets/optimize/strategies/tf/ZigZag_Active_Tf.set
Labels: none

GHA: Optimize Bands and RSI tfs
  .github/workflows/optimize-strats-tf.yml
Labels: none

Adjusts strategy tf inputs
  src/include/common/advanced/ea-input.mqh
  src/include/common/lite/ea-input.mqh
  src/include/common/rider/ea-input.mqh
Labels: none

Support for updating a lot size
  src/EA31337.mq5
Labels: none

Simplifies setting strategy properties
  src/EA31337.mq5
Labels: none

EA inputs refactor
  src/EA31337.mq5
  src/include/common/advanced/ea-input.mqh
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/ea-input.mqh
  src/include/common/lite/inputs.mqh
  src/include/common/rider/ea-input.mqh
  src/include/common/rider/inputs.mqh
  src/include/inputs.h
Labels: none

Adds optimization tests for stops
  .github/workflows/optimize-strats-stops.yml
  sets/optimize/strategies/stops/EA_Stops_M1.set
  sets/optimize/strategies/stops/EA_Stops_M15.set
  sets/optimize/strategies/stops/EA_Stops_M30.set
  sets/optimize/strategies/stops/EA_Stops_M5.set
Labels: none

Removes redundant submodules
  .gitmodules
Labels: git

GHA: Sets maxdrawdown=5 and close time to 20 bars
  .github/workflows/optimize-tf.yml
  sets/optimize/Advanced/tf/Strategy_M1.set
  sets/optimize/Advanced/tf/Strategy_M15.set
  sets/optimize/Advanced/tf/Strategy_M30.set
  sets/optimize/Advanced/tf/Strategy_M5.set
  sets/optimize/Lite/tf/Strategy_M1.set
  sets/optimize/Lite/tf/Strategy_M15.set
  sets/optimize/Lite/tf/Strategy_M30.set
  sets/optimize/Lite/tf/Strategy_M5.set
  sets/optimize/Rider/tf/Strategy_M1.set
  sets/optimize/Rider/tf/Strategy_M15.set
  sets/optimize/Rider/tf/Strategy_M30.set
  sets/optimize/Rider/tf/Strategy_M5.set
Labels: none

GHA: Updates compilation modes
  .github/workflows/optimize-strats-stops.yml
  src/include/common/code-conf.h
  src/include/common/mode.h
Labels: none

Improves config loading logic
  src/EA31337.mq5
  src/include/common/code-conf.h
  src/include/common/mode.h
Labels: none

GHA: Optimize all modes
  .github/workflows/optimize-tf.yml
  sets/optimize/Advanced/tf/Strategy_M1.set
  sets/optimize/Advanced/tf/Strategy_M15.set
  sets/optimize/Advanced/tf/Strategy_M30.set
  sets/optimize/Advanced/tf/Strategy_M5.set
  sets/optimize/Lite/tf/Strategy_M1.set
  sets/optimize/Lite/tf/Strategy_M15.set
  sets/optimize/Lite/tf/Strategy_M30.set
  sets/optimize/Lite/tf/Strategy_M5.set
  sets/optimize/Rider/tf/Strategy_M1.set
  sets/optimize/Rider/tf/Strategy_M15.set
  sets/optimize/Rider/tf/Strategy_M30.set
  sets/optimize/Rider/tf/Strategy_M5.set
Labels: none

Sets default strategies
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/inputs.mqh
  src/include/common/rider/inputs.mqh
Labels: none

Rider mode implies Advanced
  src/include/common/code-conf.h
Labels: none

Improve trailing stop logic
  src/EA31337.mq5
Labels: none

GHA: Improves logic to stops test
  .github/workflows/optimize-strats-stops.yml
  .github/workflows/optimize-tf.yml
  sets/optimize/Advanced/stops/EA_Stops_M1.set
  sets/optimize/Advanced/stops/EA_Stops_M15.set
  sets/optimize/Advanced/stops/EA_Stops_M30.set
  sets/optimize/Advanced/stops/EA_Stops_M5.set
  sets/optimize/Rider/stops/EA_Stops.set
Labels: none

sets: Disables strategies for different timeframes
  sets/optimize/Advanced/stops/EA_Stops_M1.set
  sets/optimize/Advanced/stops/EA_Stops_M15.set
  sets/optimize/Advanced/stops/EA_Stops_M30.set
  sets/optimize/Advanced/stops/EA_Stops_M5.set
Labels: none

sets: Improves values
  .github/workflows/optimize-strats-stops.yml
  .github/workflows/optimize-tf.yml
  sets/optimize/Advanced/tf/Strategy_M1.set
  sets/optimize/Advanced/tf/Strategy_M15.set
  sets/optimize/Advanced/tf/Strategy_M30.set
  sets/optimize/Advanced/tf/Strategy_M5.set
  sets/optimize/Rider/tf/Strategy_M1.set
  sets/optimize/Rider/tf/Strategy_M15.set
  sets/optimize/Rider/tf/Strategy_M30.set
  sets/optimize/Rider/tf/Strategy_M5.set
Labels: none

Revert "GHA: Uses dynamic runs-on"
  .github/workflows/backtest.yml
  .github/workflows/optimize-strats-stops.yml
  .github/workflows/optimize-tf.yml
Labels: none

sets: Sets fixed order close time
  sets/optimize/Advanced/stops/EA_Stops_M1.set
  sets/optimize/Advanced/stops/EA_Stops_M15.set
  sets/optimize/Advanced/stops/EA_Stops_M30.set
  sets/optimize/Advanced/stops/EA_Stops_M5.set
  sets/optimize/Rider/stops/EA_Stops.set
Labels: none

GHA: Uses dynamic runs-on
  .github/workflows/backtest.yml
  .github/workflows/optimize-strats-stops.yml
  .github/workflows/optimize-tf.yml
Labels: none

GHA: Removes Lint job
  .github/workflows/lint.yml
  README.md
Labels: docs

Adds DEMA and EWO
  src/EA31337.mq5
  src/include/common/advanced/inputs.mqh
  src/include/common/mode.h
  src/include/includes.h
Labels: none

GHA: Adds tests for order close time
  .github/workflows/optimize-strats-oct.yml
  sets/optimize/Advanced/oct/EA_OrderCloseTime_M1.set
  sets/optimize/Advanced/oct/EA_OrderCloseTime_M15.set
  sets/optimize/Advanced/oct/EA_OrderCloseTime_M30.set
  sets/optimize/Advanced/oct/EA_OrderCloseTime_M5.set
  sets/optimize/Rider/oct/EA_OrderCloseTime.set
Labels: none

Improves strategy tf values
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/inputs.mqh
Labels: none

Fixes stop logic
  src/EA31337.mq5
  src/include/common/advanced/inputs.mqh
  src/include/common/rider/inputs.mqh
Labels: none

GHA: Sets runs-on to self-hosted
  .github/workflows/optimize-strats-oct.yml
  .github/workflows/optimize-strats-stops.yml
  .github/workflows/optimize-tf.yml
  src/EA31337.mq5
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/inputs.mqh
  src/include/common/mode.h
  src/include/common/rider/inputs.mqh
Labels: none

Revert "GHA: Dynamic runs-on"
  .github/workflows/optimize-tf.yml
Labels: none

GHA: Dynamic runs-on
  .github/workflows/optimize-tf.yml
Labels: none

Revert "GHA: Sets runs-on to self-hosted"
  .github/workflows/optimize-strats-oct.yml
  .github/workflows/optimize-strats-stops.yml
  .github/workflows/optimize-tf.yml
  src/EA31337.mq5
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/inputs.mqh
  src/include/common/mode.h
  src/include/common/rider/inputs.mqh
Labels: none

GHA: Sets maxdrawdown=3
  .github/workflows/optimize-tf.yml
Labels: none

sets: Improves tf set files
  sets/optimize/Advanced/tf/Strategy_M1.set
  sets/optimize/Advanced/tf/Strategy_M15.set
  sets/optimize/Advanced/tf/Strategy_M30.set
  sets/optimize/Advanced/tf/Strategy_M5.set
  sets/optimize/Rider/tf/Strategy_M1.set
  sets/optimize/Rider/tf/Strategy_M15.set
  sets/optimize/Rider/tf/Strategy_M30.set
  sets/optimize/Rider/tf/Strategy_M5.set
Labels: none

Updates strategies to latest master
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/inputs.mqh
  src/include/common/mode.h
  src/include/common/rider/inputs.mqh
Labels: none

Fixes invalid pointer access [GH-234]
  src/EA31337.mq5
Labels: none

.github/labeler.yml:

---
# Changes to documentation.
docs:
  - '*.md'
  - '*.txt'
  - 'docs/*'
# Continuous Integration changes.
CI:
  - '.travis.yml'
  - 'appveyor.yml'
# Changes to Docker files.
Docker:
  - 'Dockerfile'
  - 'docker-compose.yml'
# Changes to Git files.
git:
  - '.github/*'
  - '.git*'
# Changes to MQL4 code files.
MQL4:
  - '*.mq4'
# Changes to MQL5 code files.
MQL5:
  - '*.mq5'
