Repository robjohn8989/EA31337, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI, Docker, git, MQL4, MQL5

Removes BT_YEARS from EA-Tester.ini
  docker/tests/advanced/EA-Tester.ini
  docker/tests/lite/EA-Tester.ini
  docker/tests/rider/EA-Tester.ini
Labels: none

Activates test-docker tests
  .github/workflows/test-docker.yml
Labels: none

Ignores warnings for test-docker workflow
  .github/workflows/test-docker.yml
Labels: none

Disables test-docker workflow tests for now
  .github/workflows/test-docker.yml
Labels: none

GHA: Adds more docker-test workflow tests
  .github/workflows/test-docker.yml
Labels: none

Adds .markdownlint.yaml
  .markdownlint.yaml
Labels: none

Adds .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Improves README formatting
  README.md
Labels: docs

GHA: Adds Check workflow
  .github/workflows/check.yml
  README.md
Labels: docs

Fixed broken link to README
  README.md
Labels: docs

Improves Dockerfile to download platform only once
  Dockerfile
Labels: Docker

GHA: Re-enables some previously broken tests
  .github/workflows/test.yml
Labels: none

Fixes syntax for SC2035 Hadolint warning
  Dockerfile
Labels: Docker

GHA: Adds dev release for MT5
  .github/workflows/test.yml
Labels: none

Adds .editorconfig
  .editorconfig
Labels: none

Fixes copy_set_mqh script
  scripts/copy_set_mqh.sh
Labels: none

Updates strategy params based on the optimization results
  src/include/EA31337-strategies/AD/Stg_AD.mqh
  src/include/EA31337-strategies/ADX/Stg_ADX.mqh
  src/include/EA31337-strategies/Alligator/Stg_Alligator.mqh
  src/include/EA31337-strategies/Bands/Stg_Bands.mqh
  src/include/EA31337-strategies/CCI/Stg_CCI.mqh
  src/include/EA31337-strategies/DeMarker/Stg_DeMarker.mqh
  src/include/EA31337-strategies/Envelopes/Stg_Envelopes.mqh
  src/include/EA31337-strategies/Force/Stg_Force.mqh
  src/include/EA31337-strategies/Fractals/Stg_Fractals.mqh
  src/include/EA31337-strategies/Gator/Stg_Gator.mqh
  src/include/EA31337-strategies/MA/Stg_MA.mqh
  src/include/EA31337-strategies/MACD/Stg_MACD.mqh
  src/include/EA31337-strategies/MFI/Stg_MFI.mqh
  src/include/EA31337-strategies/OSMA/Stg_OSMA.mqh
  src/include/EA31337-strategies/RSI/Stg_RSI.mqh
  src/include/EA31337-strategies/SAR/Stg_SAR.mqh
Labels: none

Improves copy_set_mqh.sh script to support modifying enum values
  scripts/copy_set_mqh.sh
Labels: none

Further optimization results for EA31337-Lite-v1.079-dev
  src/include/EA31337-strategies/AC/Stg_AC.mqh
  src/include/EA31337-strategies/Bands/Stg_Bands.mqh
  src/include/EA31337-strategies/CCI/Stg_CCI.mqh
  src/include/EA31337-strategies/DeMarker/Stg_DeMarker.mqh
  src/include/EA31337-strategies/Envelopes/Stg_Envelopes.mqh
  src/include/EA31337-strategies/Fractals/Stg_Fractals.mqh
  src/include/EA31337-strategies/MA/Stg_MA.mqh
  src/include/EA31337-strategies/MACD/Stg_MACD.mqh
  src/include/EA31337-strategies/MFI/Stg_MFI.mqh
  src/include/EA31337-strategies/RSI/Stg_RSI.mqh
  src/include/EA31337-strategies/SAR/Stg_SAR.mqh
  src/include/EA31337-strategies/WPR/Stg_WPR.mqh
  src/include/EA31337/lite/ea-input.mqh
Labels: none

Improves formatting for Test workflow
  .github/workflows/test.yml
Labels: none

Adds initial Backtest workflow
  .github/workflows/backtest.yml
Labels: none

Disables Backtest workflow
  .github/workflows/backtest.yml.disabled
Labels: none

Minor updates to docker/backtest
  docker/backtest/lite/all-yearly/2019/_results/README.md
  docker/backtest/lite/all-yearly/2019/docker-compose.yml
  docker/backtest/lite/all-yearly/EA-Tester.ini
Labels: none

Further optimization results for EA31337-Lite-v1.079-dev
  src/include/EA31337-strategies/AC/Stg_AC.mqh
  src/include/EA31337-strategies/AD/Stg_AD.mqh
  src/include/EA31337-strategies/ADX/Stg_ADX.mqh
  src/include/EA31337-strategies/Alligator/Stg_Alligator.mqh
  src/include/EA31337-strategies/Bands/Stg_Bands.mqh
  src/include/EA31337-strategies/CCI/Stg_CCI.mqh
  src/include/EA31337-strategies/DeMarker/Stg_DeMarker.mqh
  src/include/EA31337-strategies/Envelopes/Stg_Envelopes.mqh
  src/include/EA31337-strategies/Force/Stg_Force.mqh
  src/include/EA31337-strategies/Fractals/Stg_Fractals.mqh
  src/include/EA31337-strategies/MA/Stg_MA.mqh
  src/include/EA31337-strategies/MACD/Stg_MACD.mqh
  src/include/EA31337-strategies/MFI/Stg_MFI.mqh
  src/include/EA31337-strategies/RSI/Stg_RSI.mqh
  src/include/EA31337-strategies/SAR/Stg_SAR.mqh
  src/include/EA31337-strategies/WPR/Stg_WPR.mqh
Labels: none

Fixes script to copy negative values
  scripts/copy_set_mqh.sh
Labels: none

Adds missing optimized Lite values
  src/include/EA31337-strategies/AC/Stg_AC.mqh
  src/include/EA31337-strategies/AD/Stg_AD.mqh
  src/include/EA31337-strategies/Alligator/Stg_Alligator.mqh
  src/include/EA31337-strategies/CCI/Stg_CCI.mqh
  src/include/EA31337-strategies/DeMarker/Stg_DeMarker.mqh
  src/include/EA31337-strategies/Envelopes/Stg_Envelopes.mqh
  src/include/EA31337-strategies/Force/Stg_Force.mqh
  src/include/EA31337-strategies/Fractals/Stg_Fractals.mqh
  src/include/EA31337-strategies/MA/Stg_MA.mqh
  src/include/EA31337-strategies/MACD/Stg_MACD.mqh
  src/include/EA31337-strategies/MFI/Stg_MFI.mqh
  src/include/EA31337-strategies/RSI/Stg_RSI.mqh
  src/include/EA31337-strategies/SAR/Stg_SAR.mqh
  src/include/EA31337-strategies/WPR/Stg_WPR.mqh
Labels: none

Initial optimization results for EA31337-Rider-v1.079-dev
  src/include/EA31337-strategies/Alligator/Stg_Alligator.mqh
  src/include/EA31337/rider/ea-input.mqh
Labels: none

Adds actual Lite backtest results
  docker/backtest/lite/all-yearly/2019/_results/EA31337-Lite_2019_100k.json
  docker/backtest/lite/all-yearly/2019/_results/EA31337-Lite_2019_100k.txt
  docker/backtest/lite/all-yearly/2019/_results/EA31337-Lite_2019_10k.json
  docker/backtest/lite/all-yearly/2019/_results/EA31337-Lite_2019_10k.txt
  docker/backtest/lite/all-yearly/2019/_results/EURUSD-100000USD-2019.01.04-2019.12.30-10spread-M30-report.txt
  docker/backtest/lite/all-yearly/2019/_results/EURUSD-10000USD-2019.01.04-2019.12.30-10spread-M30-report.txt
Labels: none

Uses M1 period for backtests for higher bars in test
  docker/backtest/advanced/all-yearly/EA-Tester.ini
  docker/backtest/lite/all-yearly/2019/_results/EA31337-Lite_2019_10k.json
  docker/backtest/lite/all-yearly/2019/_results/EA31337-Lite_2019_10k.txt
  docker/backtest/lite/all-yearly/EA-Tester.ini
  docker/backtest/lite/strategy-yearly/EA-Tester.ini
  docker/backtest/rider/all-yearly/EA-Tester.ini
Labels: none

Sets MinVolumeToTrade to 0
  src/include/EA31337/advanced/ea-input.mqh
  src/include/EA31337/lite/ea-input.mqh
  src/include/EA31337/rider/ea-input.mqh
Labels: none

Disables MinPipChangeToTrade as not in use for now
  src/include/EA31337/advanced/ea-input.mqh
  src/include/EA31337/lite/ea-input.mqh
  src/include/EA31337/rider/ea-input.mqh
Labels: none

Disabled TrailingStopAddPerMinute param
  src/include/EA31337/advanced/ea-input.mqh
  src/include/EA31337/lite/ea-input.mqh
  src/include/EA31337/rider/ea-input.mqh
Labels: none

Sets ProfitFactorMinToTrade to 0.5
  src/include/EA31337/advanced/ea-input.mqh
  src/include/EA31337/lite/ea-input.mqh
  src/include/EA31337/rider/ea-input.mqh
Labels: none

Strategy optimization test results for EA31337-Lite-v1.079-dev
  src/include/EA31337-strategies/AC/Stg_AC.mqh
  src/include/EA31337-strategies/AD/Stg_AD.mqh
  src/include/EA31337-strategies/ADX/Stg_ADX.mqh
  src/include/EA31337-strategies/Alligator/Stg_Alligator.mqh
  src/include/EA31337-strategies/Bands/Stg_Bands.mqh
  src/include/EA31337-strategies/CCI/Stg_CCI.mqh
  src/include/EA31337-strategies/DeMarker/Stg_DeMarker.mqh
  src/include/EA31337-strategies/Envelopes/Stg_Envelopes.mqh
  src/include/EA31337-strategies/Force/Stg_Force.mqh
  src/include/EA31337-strategies/Fractals/Stg_Fractals.mqh
  src/include/EA31337-strategies/MA/Stg_MA.mqh
  src/include/EA31337-strategies/MACD/Stg_MACD.mqh
  src/include/EA31337-strategies/MFI/Stg_MFI.mqh
  src/include/EA31337-strategies/RSI/Stg_RSI.mqh
  src/include/EA31337-strategies/SAR/Stg_SAR.mqh
  src/include/EA31337-strategies/WPR/Stg_WPR.mqh
  src/include/EA31337/lite/ea-input.mqh
Labels: none

Fixes extraction of the branch name in the Test workflow
  .github/workflows/test.yml
Labels: none

Re-enables Backtest workflow
  .github/workflows/backtest.yml
Labels: none

Disables Backtest workflow for now
  .github/workflows/backtest.yml
Labels: none

Order fixes for MT5 [GH-181]
  src/EA31337.mq5
Labels: none

Fixes encoding of EA31337.mqproj
  src/EA31337.mqproj
Labels: none

Re-enables all suspended strategies each week
  .github/workflows/test.yml
  src/EA31337.mq5
Labels: none

.github/labeler.yml:

---
# Changes to documentation.
docs:
  - '*.md'
  - '*.txt'
  - 'docs/*'
# Continuous Integration changes.
CI:
  - '.travis.yml'
  - 'appveyor.yml'
# Changes to Docker files.
Docker:
  - 'Dockerfile'
  - 'docker-compose.yml'
# Changes to Git files.
git:
  - '.github/*'
  - '.git*'
# Changes to MQL4 code files.
MQL4:
  - '*.mq4'
# Changes to MQL5 code files.
MQL5:
  - '*.mq5'
