Repository robjohn8989/EA31337, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI, Docker, git, MQL4, MQL5

Lite: Backtest Results for 2020
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.txt
Labels: none

Advanced: Backtest Results for 2020
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.txt
Labels: none

Rider: Backtest Results for 2020
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_1000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_1000USD_spread1.txt
Labels: none

Adds indicators-common submodule
  .gitmodules
Labels: git

Advanced: Improves default strategies and param values
  src/include/common/advanced/inputs.mqh
Labels: none

Rider: Sets SOFM=37 and SCFM=40, same as Advanced
  src/include/common/rider/inputs.mqh
Labels: none

Rider: Updates default strategies and tasks
  src/include/common/rider/inputs.mqh
Labels: none

Lite: Updates default strategies
  src/include/common/lite/inputs.mqh
Labels: none

Adds H12 timeframe
  src/EA31337.mq5
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/inputs.mqh
  src/include/common/rider/inputs.mqh
Labels: none

Lite/Advanced: Sets H12 strategies
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/inputs.mqh
Labels: none

Rider: Sets MACD strategy on H12
  src/include/common/rider/inputs.mqh
Labels: none

Lite: Monthly test results
  docker/tests/Lite/_results/EA31337_Lite_202001.json
  docker/tests/Lite/_results/EA31337_Lite_202001.txt
  docker/tests/Lite/_results/EA31337_Lite_202002.json
  docker/tests/Lite/_results/EA31337_Lite_202002.txt
  docker/tests/Lite/_results/EA31337_Lite_202003.json
  docker/tests/Lite/_results/EA31337_Lite_202003.txt
  docker/tests/Lite/_results/EA31337_Lite_202004.json
  docker/tests/Lite/_results/EA31337_Lite_202004.txt
  docker/tests/Lite/_results/EA31337_Lite_202005.json
  docker/tests/Lite/_results/EA31337_Lite_202005.txt
  docker/tests/Lite/_results/EA31337_Lite_202006.json
  docker/tests/Lite/_results/EA31337_Lite_202006.txt
  docker/tests/Lite/_results/EA31337_Lite_202007.json
  docker/tests/Lite/_results/EA31337_Lite_202007.txt
  docker/tests/Lite/_results/EA31337_Lite_202008.json
  docker/tests/Lite/_results/EA31337_Lite_202008.txt
  docker/tests/Lite/_results/EA31337_Lite_202009.json
  docker/tests/Lite/_results/EA31337_Lite_202009.txt
  docker/tests/Lite/_results/EA31337_Lite_202010.json
  docker/tests/Lite/_results/EA31337_Lite_202010.txt
  docker/tests/Lite/_results/EA31337_Lite_202011.json
  docker/tests/Lite/_results/EA31337_Lite_202011.txt
  docker/tests/Lite/_results/EA31337_Lite_202012.json
  docker/tests/Lite/_results/EA31337_Lite_202012.txt
Labels: none

Advanced: Monthly test results
  docker/tests/Advanced/_results/EA31337_Advanced_202001.json
  docker/tests/Advanced/_results/EA31337_Advanced_202001.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202002.json
  docker/tests/Advanced/_results/EA31337_Advanced_202002.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202003.json
  docker/tests/Advanced/_results/EA31337_Advanced_202003.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202004.json
  docker/tests/Advanced/_results/EA31337_Advanced_202004.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202005.json
  docker/tests/Advanced/_results/EA31337_Advanced_202005.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202006.json
  docker/tests/Advanced/_results/EA31337_Advanced_202006.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202007.json
  docker/tests/Advanced/_results/EA31337_Advanced_202007.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202008.json
  docker/tests/Advanced/_results/EA31337_Advanced_202008.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202009.json
  docker/tests/Advanced/_results/EA31337_Advanced_202009.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202010.json
  docker/tests/Advanced/_results/EA31337_Advanced_202010.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202011.json
  docker/tests/Advanced/_results/EA31337_Advanced_202011.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202012.json
  docker/tests/Advanced/_results/EA31337_Advanced_202012.txt
Labels: none

Rider: Monthly test results
  docker/tests/Rider/_results/EA31337_Rider_202001.json
  docker/tests/Rider/_results/EA31337_Rider_202001.txt
  docker/tests/Rider/_results/EA31337_Rider_202002.json
  docker/tests/Rider/_results/EA31337_Rider_202002.txt
  docker/tests/Rider/_results/EA31337_Rider_202003.json
  docker/tests/Rider/_results/EA31337_Rider_202003.txt
  docker/tests/Rider/_results/EA31337_Rider_202004.json
  docker/tests/Rider/_results/EA31337_Rider_202004.txt
  docker/tests/Rider/_results/EA31337_Rider_202005.json
  docker/tests/Rider/_results/EA31337_Rider_202005.txt
  docker/tests/Rider/_results/EA31337_Rider_202006.json
  docker/tests/Rider/_results/EA31337_Rider_202006.txt
  docker/tests/Rider/_results/EA31337_Rider_202007.json
  docker/tests/Rider/_results/EA31337_Rider_202007.txt
  docker/tests/Rider/_results/EA31337_Rider_202008.json
  docker/tests/Rider/_results/EA31337_Rider_202008.txt
  docker/tests/Rider/_results/EA31337_Rider_202009.json
  docker/tests/Rider/_results/EA31337_Rider_202009.txt
  docker/tests/Rider/_results/EA31337_Rider_202010.json
  docker/tests/Rider/_results/EA31337_Rider_202010.txt
  docker/tests/Rider/_results/EA31337_Rider_202011.json
  docker/tests/Rider/_results/EA31337_Rider_202011.txt
  docker/tests/Rider/_results/EA31337_Rider_202012.json
  docker/tests/Rider/_results/EA31337_Rider_202012.txt
Labels: none

Lite: Backtest Results for 2020
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.txt
Labels: none

Advanced: Backtest Results for 2020
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.txt
Labels: none

Rider: Backtest Results for 2020
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.txt
Labels: none

Pre-commit autoupdate
  .pre-commit-config.yaml
Labels: none

GHA: Updates refs for classes
  .github/workflows/backtest.yml
  .github/workflows/compile.yml
  .github/workflows/test.yml
Labels: none

Updates code syntax and refs for classes v2.011
  src/EA31337.mqproj
  src/include/common/define.h
Labels: none

Rider: Backtest Results for 2020
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.txt
Labels: none

Advanced: Backtest Results for 2020
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.txt
Labels: none

Lite: Backtest Results for 2020
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.txt
Labels: none

Removes not needed includes
  src/include/includes.h
Labels: none

Updates classes and strategies to latest dev
  src/EA31337.mq5
  src/include/common/funcs-adv.h
Labels: none

New code logic for tasks
  src/EA31337.mq5
  src/include/common/funcs-adv.h
  src/include/common/tasks.h
  src/include/includes.h
Labels: none

Bumps version and copy year
  src/EA31337.mqproj
  src/include/common/advanced/inputs.mqh
  src/include/common/define.h
  src/include/common/lite/inputs.mqh
  src/include/common/rider/inputs.mqh
Labels: none

Adds EA_MaxSpread param
  src/EA31337.mq5
  src/include/inputs.h
Labels: none

Updates classes and strategies to the recent HEAD
  src/EA31337.mq5
  src/include/common/funcs-adv.h
Labels: none

New code logic for tasks
  src/EA31337.mq5
  src/include/common/funcs-adv.h
  src/include/common/tasks.h
  src/include/includes.h
Labels: none

Adds EA_MaxSpread param
  src/EA31337.mq5
  src/include/inputs.h
Labels: none

Fixes Python setup (refs: actions/setup-python/issues/555)
  .github/workflows/check.yml
Labels: none

Lite: Sets optimized strategies
  src/include/common/lite/inputs.mqh
Labels: none

Adds VSCode badges
  README.md
Labels: docs

Advanced: Sets optimized strategies
  src/include/common/advanced/inputs.mqh
Labels: none

Rider: Sets Bands and OsMA as base strategies
  src/include/common/rider/inputs.mqh
Labels: none

Backtest: Sets 2021 by default
  .github/workflows/backtest.yml
  docker/backtest/Advanced/all-yearly/2021/docker-compose.yml
  docker/backtest/Lite/all-yearly/2021/docker-compose.yml
  docker/backtest/Rider/all-yearly/2021/docker-compose.yml
Labels: none

Rider: Sets optimized strategies
  src/include/common/rider/inputs.mqh
Labels: none

Lite: Backtest Results for 2021
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_100000USD_spread1.json
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_100000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_100000USD_spread10.json
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_100000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_10000USD_spread1.json
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_10000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_10000USD_spread10.json
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_10000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_1000USD_spread1.json
  docker/backtest/Lite/all-yearly/2021/_results/EA31337-Lite_2021_1000USD_spread1.txt
Labels: none

Advanced: Backtest Results for 2021
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_100000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_100000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_100000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_100000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_10000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_10000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_10000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_10000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_1000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2021/_results/EA31337-Advanced_2021_1000USD_spread1.txt
Labels: none

.github/labeler.yml:

---
# Changes to documentation.
docs:
  - '*.md'
  - '*.txt'
  - 'docs/*'
# Continuous Integration changes.
CI:
  - '.travis.yml'
  - 'appveyor.yml'
# Changes to Docker files.
Docker:
  - 'Dockerfile'
  - 'docker-compose.yml'
# Changes to Git files.
git:
  - '.github/*'
  - '.git*'
# Changes to MQL4 code files.
MQL4:
  - '*.mq4'
# Changes to MQL5 code files.
MQL5:
  - '*.mq5'
