Repository robjohn8989/EA31337, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI, Docker, git, MQL4, MQL5

Fixes warning 43: possible loss of data due to type conversion
  src/EA31337.mq5
Labels: none

Updates .gitattributes to support .h files
  .gitattributes
Labels: git

Updates classes to latest master
  .gitignore
  src/EA31337.mq5
Labels: git

Fixes warning: possible loss of data due to type conversion
  src/EA31337.mq5
Labels: none

Updates .gitattributes to support .h files
  .gitattributes
Labels: git

Adds .json and .txt for .gitattributes
  .gitattributes
Labels: git

Changes CI test year from 2018 to 2019
  .travis.yml
  Dockerfile
  docker/tests/advanced/EA-Tester.ini
  docker/tests/advanced/docker-compose.yml
  docker/tests/lite/EA-Tester.ini
  docker/tests/lite/docker-compose.yml
  docker/tests/rider/EA-Tester.ini
  docker/tests/rider/docker-compose.yml
Labels: CI, Docker

Fixes compilation errors
  appveyor.yml
  src/EA31337.mq4
Labels: CI

Adds CI Monthly Tests for Lite
  .github/workflows/tests.yml
Labels: none

Renames appveyor.yml to .appveyor.yml
  .appveyor.yml
Labels: none

Adds .yamllint
  .yamllint
Labels: none

Improves formatting of YAML files
  .appveyor.yml
  .github/workflows/labeller.yml
  .github/workflows/tests.yml
Labels: none

Runs test using MQL Tester Docker Action
  .github/workflows/tests.yml
Labels: none

Updates MT platform for AppVeyor
  .appveyor.yml
Labels: none

GHA: Recursively checkout submodules
  .github/workflows/tests.yml
Labels: none

GHA: Ignores warnings
  .github/workflows/tests.yml
Labels: none

Adds GHA tests for Advanced
  .github/workflows/tests.yml
  src/include/EA31337/ea-mode.mqh
Labels: none

GHA: Improves setting advanced mode
  .github/workflows/tests.yml
Labels: none

GHA: Adds test for Rider
  .github/workflows/tests.yml
Labels: none

Workaround for compilation warning [GH-185]
  .appveyor.yml
Labels: none

CI: Removes shellcheck checks
  .appveyor.yml
Labels: none

CI: Removes Travis test in favor of GH Actions
  .travis.yml
  README.md
Labels: docs, CI

GHA: Adds Lint workflow
  .github/workflows/lint.yml
Labels: none

Updates README build links
  .github/workflows/tests.yml
  README.md
Labels: docs

YAML: Adds missing document start
  docker/backtest/advanced/all-yearly/2017/docker-compose.yml
  docker/backtest/advanced/all-yearly/2018/docker-compose.yml
  docker/backtest/lite/all-yearly/2017/docker-compose.yml
  docker/backtest/lite/all-yearly/2018/docker-compose.yml
  docker/backtest/lite/strategy-yearly/AC/docker-compose.yml
  docker/backtest/lite/strategy-yearly/AD/docker-compose.yml
  docker/backtest/lite/strategy-yearly/ADX/docker-compose.yml
  docker/backtest/lite/strategy-yearly/Alligator/docker-compose.yml
  docker/backtest/lite/strategy-yearly/Bands/docker-compose.yml
  docker/backtest/lite/strategy-yearly/CCI/docker-compose.yml
  docker/backtest/lite/strategy-yearly/DeMarker/docker-compose.yml
  docker/backtest/lite/strategy-yearly/Envelopes/docker-compose.yml
  docker/backtest/lite/strategy-yearly/Force/docker-compose.yml
  docker/backtest/lite/strategy-yearly/Fractals/docker-compose.yml
  docker/backtest/lite/strategy-yearly/MA/docker-compose.yml
  docker/backtest/lite/strategy-yearly/MACD/docker-compose.yml
  docker/backtest/lite/strategy-yearly/MFI/docker-compose.yml
  docker/backtest/lite/strategy-yearly/RSI/docker-compose.yml
  docker/backtest/lite/strategy-yearly/SAR/docker-compose.yml
  docker/backtest/lite/strategy-yearly/WPR/docker-compose.yml
  docker/backtest/rider/all-yearly/2017/docker-compose.yml
  docker/backtest/rider/all-yearly/2018/docker-compose.yml
  docker/tests/advanced/docker-compose.yml
  docker/tests/lite/docker-compose.yml
  docker/tests/rider/docker-compose.yml
Labels: none

Ignores YAML rules for docker/**/*.yml
  .yamllint
Labels: none

GHA: Adds backtest tests
  .github/workflows/backtest.yml
Labels: none

Comments define by default
  src/include/EA31337/ea-mode.mqh
Labels: none

README: Adds link to Backtest test
  README.md
Labels: docs

GHA: Run git diff on success
  .github/workflows/backtest.yml
Labels: none

GHA: Runs git diff on success
  .github/workflows/tests.yml
Labels: none

Updates action repo path
  .github/workflows/backtest.yml
  .github/workflows/tests.yml
Labels: none

GHA: Runs git diff on warning
  .github/workflows/backtest.yml
  .github/workflows/tests.yml
Labels: none

Adds lint-docker.yml
  .github/workflows/lint-docker.yml
Labels: none

GHA: Clones repo recursively
  .github/workflows/lint-docker.yml
Labels: none

GHA: Improves validation command
  .github/workflows/lint-docker.yml
Labels: none

Revert "GHA: Clones repo recursively"
  .github/workflows/lint-docker.yml
Labels: none

Fail with exit 1 on lint-docker validation
  .github/workflows/lint-docker.yml
Labels: none

Fixes paths for GH workflows
  .github/workflows/backtest.yml
  .github/workflows/lint-docker.yml
  .github/workflows/tests.yml
Labels: none

Adds compilation workflow
  .github/compile.ps1
  .github/workflows/compile.yml
Labels: git

.github/labeler.yml:

---
# Changes to documentation.
docs:
  - '*.md'
  - '*.txt'
  - 'docs/*'
# Continuous Integration changes.
CI:
  - '.travis.yml'
  - 'appveyor.yml'
# Changes to Docker files.
Docker:
  - 'Dockerfile'
  - 'docker-compose.yml'
# Changes to Git files.
git:
  - '.github/*'
  - '.git*'
# Changes to MQL4 code files.
MQL4:
  - '*.mq4'
# Changes to MQL5 code files.
MQL5:
  - '*.mq5'
