Repository robjohn8989/EA31337, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI, Docker, git, MQL4, MQL5

.github/labeler.yml:

---
# Changes to documentation.
docs:
  - '*.md'
  - '*.txt'
  - 'docs/*'
# Continuous Integration changes.
CI:
  - '.travis.yml'
  - 'appveyor.yml'
# Changes to Docker files.
Docker:
  - 'Dockerfile'
  - 'docker-compose.yml'
# Changes to Git files.
git:
  - '.github/*'
  - '.git*'
# Changes to MQL4 code files.
MQL4:
  - '*.mq4'
# Changes to MQL5 code files.
MQL5:
  - '*.mq5'

Fixes compile.yml
  .github/compile.ps1
  .github/workflows/compile.yml
  .github/workflows/scripts/compile.ps1
Labels: git

Adjust the Docker user UID to 1001
  Dockerfile
Labels: Docker

Corrects platform path as per latest version
  Dockerfile
Labels: Docker

Adds monthly tests for 2019
  .github/workflows/tests.yml
Labels: none

GHA: Adds tests-docker.yml
  .github/workflows/tests-docker.yml
Labels: none

Adjust the Docker user UID to 1001
  Dockerfile
Labels: Docker

GHA: Disables testing for 2019 for now
  .github/workflows/tests.yml
Labels: none

Updates compilation process
  Makefile
Labels: none

Tests 2018 by default
  docker/tests/advanced/docker-compose.yml
  docker/tests/advanced/tests-2018.yml
  docker/tests/advanced/tests-2019.yml
  docker/tests/lite/docker-compose.yml
  docker/tests/lite/tests-2018.yml
  docker/tests/lite/tests-2019.yml
  docker/tests/rider/docker-compose.yml
  docker/tests/rider/tests-2018.yml
  docker/tests/rider/tests-2019.yml
Labels: none

Disables tests-docker.yml
  .github/workflows/tests-docker.yml.disabled
Labels: none

Reenabling tests-docker.yml
  .github/workflows/tests-docker.yml
Labels: none

Enables DOCKER_BUILDKIT
  .github/workflows/tests-docker.yml
Labels: none

Fixes DL4000 - Removes deprecated MAINTAINER
  Dockerfile
Labels: Docker

Adds Hadolint for linting workflow
  .github/workflows/lint-docker.yml
Labels: none

Improves tests-docker workflow
  .github/workflows/tests-docker.yml
Labels: none

Improves ignore files
  .dockerignore
  .gitignore
Labels: git

Improves Dockerfile
  Dockerfile
Labels: Docker

Build images using docker-compose
  .github/workflows/tests-docker.yml
Labels: none

Disables fixme messages
  Makefile
Labels: none

Disables tests-docker tests by dry run for now
  .github/workflows/tests-docker.yml
Labels: none

Improves VER value in Makefile
  Makefile
Labels: none

Adds release.yml
  .github/workflows/release.yml
Labels: none

Makefile: Overwrite existing files without prompting
  Makefile
Labels: none

Adds Docker Compose files for easier compilation
  docker/compile/advanced/docker-compose.yml
  docker/compile/lite/docker-compose.yml
  docker/compile/rider/docker-compose.yml
Labels: none

Improves release.yml workflow
  .github/workflows/release.yml
Labels: none

Improves workflow paths in tests-docker.yml
  .github/workflows/tests-docker.yml
Labels: none

Uses action for compilation workflow
  .github/workflows/compile.yml
Labels: none

Enables compilation workflow for 3 modes
  .github/workflows/compile.yml
Labels: none

Removes redundant compile.ps1 script
  .github/workflows/scripts/compile.ps1
Labels: none

GHA: Renames tests to test
  .github/workflows/test.yml
  README.md
Labels: docs

GHA: Prints compiled files
  .github/workflows/compile.yml
Labels: none

GHA: Compiles the main file only
  .github/workflows/compile.yml
  .github/workflows/test.yml
Labels: none

GHA: Renames tests-docker to test-docker
  .github/workflows/test-docker.yml
Labels: none

GHA: Integrates test.yml with compile workflow
  .github/workflows/compile.yml
  .github/workflows/test.yml
Labels: none

GHA: Adjust filename after compilation
  .github/workflows/test.yml
Labels: none

GHA: Do not run git diff on warnings
  .github/workflows/test.yml
Labels: none

GHA: Adds initial release steps to test workflow
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

GHA: Upload release assets
  .github/workflows/test.yml
Labels: none

GHA: uses softprops/action-gh-release@v1 instead
  .github/workflows/test.yml
Labels: none

GHA: Improves workflow for release logic
  .github/workflows/test.yml
Labels: none
