Repository robjohn8989/EA31337, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI, Docker, git, MQL4, MQL5

.github/labeler.yml:

---
# Changes to documentation.
docs:
  - '*.md'
  - '*.txt'
  - 'docs/*'
# Continuous Integration changes.
CI:
  - '.travis.yml'
  - 'appveyor.yml'
# Changes to Docker files.
Docker:
  - 'Dockerfile'
  - 'docker-compose.yml'
# Changes to Git files.
git:
  - '.github/*'
  - '.git*'
# Changes to MQL4 code files.
MQL4:
  - '*.mq4'
# Changes to MQL5 code files.
MQL5:
  - '*.mq5'

Fixes .gitattributes failing to read UTF-16 .mqproj file
  .gitattributes
Labels: git

Removes unused file
  src/include/EA31337/MQL4/stdlib.mq4
Labels: none

Fixes typo in PrintFormat
  src/EA31337.mq5
Labels: none

Improves paths in test.yml
  .github/workflows/test.yml
Labels: none

Improves support for MT5 [GH-181]
  src/EA31337.mq5
Labels: none

Modified Object::GetId and Strategy::GetId to be virtual. Fixed Order::OrderProfit method.
  src/EA31337.mq5
Labels: none

Fixes invalid pointer access for MT5
  src/EA31337.mq5
Labels: none

Removes release section from Test workflow
  .github/workflows/test.yml
Labels: none

Updates .gitattributes
  .gitattributes
Labels: git

Improves best/worse strategy logic [GH-193]
  .github/workflows/test.yml
  src/EA31337.mq5
Labels: none

Updates .mqproj
  src/EA31337.mqproj
Labels: none

Minor logic improvement for GetStrategyProfitFactor()
  src/EA31337.mq5
Labels: none

Adds Sync Fork workflow
  .github/workflows/sync-fork.yml
  .github/workflows/test.yml
Labels: none

Improves backtest.yml workflow
  .github/workflows/backtest.yml
Labels: none

Adds strategy matrix for Backtest workflow
  .github/workflows/backtest.yml
Labels: none

Merges backtest workflow tests into one
  .github/workflows/backtest.yml
Labels: none

Updates test expert in all-yearly backtest INI files
  docker/backtest/advanced/all-yearly/EA-Tester.ini
  docker/backtest/lite/all-yearly/EA-Tester.ini
  docker/backtest/lite/strategy-yearly/EA-Tester.ini
  docker/backtest/rider/all-yearly/EA-Tester.ini
Labels: none

Commit backtest results
  .github/workflows/backtest.yml
Labels: none

Backtest Results
  docker/backtest/Lite/all-yearly/2019/_results/EA31337-Lite_2019_100k.json
  docker/backtest/Lite/all-yearly/2019/_results/EA31337-Lite_2019_100k.txt
Labels: none

Runs backtest tests for Advanced and Rider
  .github/workflows/backtest.yml
Labels: none

Improves push branches for Backtest workflow
  .github/workflows/backtest.yml
Labels: none

Do not push log files
  .gitignore
Labels: git

Enhances Test workflow with matrix
  .github/workflows/test.yml
Labels: none

Runs git diff for Backtest workflow
  .github/workflows/backtest.yml
Labels: none

Removes if conditions from Backtest workflow
  .github/workflows/backtest.yml
Labels: none

Updates labeller.yml
  .github/workflows/labeller.yml
Labels: none

Specifies correct ref when checking out in Backtest workflow
  .github/workflows/backtest.yml
Labels: none

Improves YAML formatting and yamllint rules
  .github/workflows/backtest.yml
  .github/workflows/check.yml
  .github/workflows/lint-docker.yml
  .github/workflows/lint.yml
  .github/workflows/test-docker.yml
  .github/workflows/test.yml
Labels: none

Adds Context workflow
  .github/workflows/context.yml
Labels: none

Adds git status to Backtest workflow
  .github/workflows/backtest.yml
Labels: none

Backtest workflow: don't run git diff
  .github/workflows/backtest.yml
Labels: none

Backtest workflow: Fixes pushing results
  .github/workflows/backtest.yml
Labels: none

Backtest workflow: Fixes extra commit
  .github/workflows/backtest.yml
Labels: none

Lite: Backtest Results for 2019
  docker/backtest/Lite/all-yearly/2019/_results/EA31337-Lite_2019_1k.json
  docker/backtest/Lite/all-yearly/2019/_results/EA31337-Lite_2019_1k.txt
  docker/backtest/Lite/all-yearly/2019/_results/EURUSD-100000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Lite/all-yearly/2019/_results/EURUSD-10000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Lite/all-yearly/2019/_results/EURUSD-1000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
Labels: none

Advanced: Backtest Results for 2019
  docker/backtest/Advanced/all-yearly/2019/_results/EA31337-Advanced_2019_100k.json
  docker/backtest/Advanced/all-yearly/2019/_results/EA31337-Advanced_2019_100k.txt
  docker/backtest/Advanced/all-yearly/2019/_results/EA31337-Advanced_2019_10k.json
  docker/backtest/Advanced/all-yearly/2019/_results/EA31337-Advanced_2019_10k.txt
  docker/backtest/Advanced/all-yearly/2019/_results/EA31337-Advanced_2019_1k.json
  docker/backtest/Advanced/all-yearly/2019/_results/EA31337-Advanced_2019_1k.txt
  docker/backtest/Advanced/all-yearly/2019/_results/EURUSD-100000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Advanced/all-yearly/2019/_results/EURUSD-10000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Advanced/all-yearly/2019/_results/EURUSD-1000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
Labels: none

Rider: Backtest Results for 2019
  docker/backtest/Rider/all-yearly/2019/_results/EA31337-Rider_2019_100k.json
  docker/backtest/Rider/all-yearly/2019/_results/EA31337-Rider_2019_100k.txt
  docker/backtest/Rider/all-yearly/2019/_results/EA31337-Rider_2019_10k.json
  docker/backtest/Rider/all-yearly/2019/_results/EA31337-Rider_2019_10k.txt
  docker/backtest/Rider/all-yearly/2019/_results/EA31337-Rider_2019_1k.json
  docker/backtest/Rider/all-yearly/2019/_results/EA31337-Rider_2019_1k.txt
  docker/backtest/Rider/all-yearly/2019/_results/EURUSD-100000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Rider/all-yearly/2019/_results/EURUSD-10000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Rider/all-yearly/2019/_results/EURUSD-1000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
Labels: none

Updates .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Removes non-ASCII characters
  README.md
  src/include/EA31337-strategies/AC/Stg_AC.mqh
  src/include/EA31337/advanced/ea-input.mqh
  src/include/EA31337/lite/ea-input.mqh
  src/include/EA31337/rider/ea-input.mqh
Labels: docs

Code formatting updates
  scripts/clean_code.sh
  scripts/copy_set_mqh.sh
Labels: none

Removes trailing spaces
  docker/backtest/Advanced/all-yearly/2019/_results/EURUSD-100000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Advanced/all-yearly/2019/_results/EURUSD-10000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Advanced/all-yearly/2019/_results/EURUSD-1000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Lite/all-yearly/2019/_results/EURUSD-100000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Lite/all-yearly/2019/_results/EURUSD-10000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Lite/all-yearly/2019/_results/EURUSD-1000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Rider/all-yearly/2019/_results/EURUSD-100000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Rider/all-yearly/2019/_results/EURUSD-10000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
  docker/backtest/Rider/all-yearly/2019/_results/EURUSD-1000USD-2019.01.01-2019.12.30-10spread-M1-report.txt
Labels: none
