Repository robjohn8989/EA31337, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI, Docker, git, MQL4, MQL5

.github/labeler.yml:

---
# Changes to documentation.
docs:
  - '*.md'
  - '*.txt'
  - 'docs/*'
# Continuous Integration changes.
CI:
  - '.travis.yml'
  - 'appveyor.yml'
# Changes to Docker files.
Docker:
  - 'Dockerfile'
  - 'docker-compose.yml'
# Changes to Git files.
git:
  - '.github/*'
  - '.git*'
# Changes to MQL4 code files.
MQL4:
  - '*.mq4'
# Changes to MQL5 code files.
MQL5:
  - '*.mq5'

Renames docs to wiki
  .gitmodules
Labels: git

Set theme jekyll-theme-hacker
  docs/_config.yml
  docs/index.md
Labels: docs

Adds index.md
  docs/index.md
Labels: docs

Moves wiki to docs/
  .gitmodules
Labels: git

Updates docs
  docs/_config.yml
  docs/index.md
Labels: docs

Adds partial implementation of EA actions [WIP]
  src/EA31337.mq5
  src/include/common/advanced/inputs.mqh
  src/include/common/ea-actions.h
  src/include/common/enum.h
  src/include/common/rider/inputs.mqh
  src/include/includes.h
Labels: none

Lite: Monthly test results
  docker/tests/Lite/_results/EA31337_Lite_202001.json
  docker/tests/Lite/_results/EA31337_Lite_202001.txt
  docker/tests/Lite/_results/EA31337_Lite_202002.json
  docker/tests/Lite/_results/EA31337_Lite_202002.txt
  docker/tests/Lite/_results/EA31337_Lite_202003.json
  docker/tests/Lite/_results/EA31337_Lite_202003.txt
  docker/tests/Lite/_results/EA31337_Lite_202004.json
  docker/tests/Lite/_results/EA31337_Lite_202004.txt
  docker/tests/Lite/_results/EA31337_Lite_202005.json
  docker/tests/Lite/_results/EA31337_Lite_202005.txt
  docker/tests/Lite/_results/EA31337_Lite_202006.json
  docker/tests/Lite/_results/EA31337_Lite_202006.txt
  docker/tests/Lite/_results/EA31337_Lite_202007.json
  docker/tests/Lite/_results/EA31337_Lite_202007.txt
  docker/tests/Lite/_results/EA31337_Lite_202008.json
  docker/tests/Lite/_results/EA31337_Lite_202008.txt
  docker/tests/Lite/_results/EA31337_Lite_202009.json
  docker/tests/Lite/_results/EA31337_Lite_202009.txt
  docker/tests/Lite/_results/EA31337_Lite_202010.json
  docker/tests/Lite/_results/EA31337_Lite_202010.txt
  docker/tests/Lite/_results/EA31337_Lite_202011.json
  docker/tests/Lite/_results/EA31337_Lite_202011.txt
  docker/tests/Lite/_results/EA31337_Lite_202012.json
  docker/tests/Lite/_results/EA31337_Lite_202012.txt
Labels: none

Advanced: Monthly test results
  docker/tests/Advanced/_results/EA31337_Advanced_202001.json
  docker/tests/Advanced/_results/EA31337_Advanced_202001.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202002.json
  docker/tests/Advanced/_results/EA31337_Advanced_202002.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202003.json
  docker/tests/Advanced/_results/EA31337_Advanced_202003.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202004.json
  docker/tests/Advanced/_results/EA31337_Advanced_202004.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202005.json
  docker/tests/Advanced/_results/EA31337_Advanced_202005.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202006.json
  docker/tests/Advanced/_results/EA31337_Advanced_202006.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202007.json
  docker/tests/Advanced/_results/EA31337_Advanced_202007.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202008.json
  docker/tests/Advanced/_results/EA31337_Advanced_202008.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202009.json
  docker/tests/Advanced/_results/EA31337_Advanced_202009.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202010.json
  docker/tests/Advanced/_results/EA31337_Advanced_202010.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202011.json
  docker/tests/Advanced/_results/EA31337_Advanced_202011.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202012.json
  docker/tests/Advanced/_results/EA31337_Advanced_202012.txt
Labels: none

Rider: Monthly test results
  docker/tests/Rider/_results/EA31337_Rider_202001.json
  docker/tests/Rider/_results/EA31337_Rider_202001.txt
  docker/tests/Rider/_results/EA31337_Rider_202002.json
  docker/tests/Rider/_results/EA31337_Rider_202002.txt
  docker/tests/Rider/_results/EA31337_Rider_202003.json
  docker/tests/Rider/_results/EA31337_Rider_202003.txt
  docker/tests/Rider/_results/EA31337_Rider_202004.json
  docker/tests/Rider/_results/EA31337_Rider_202004.txt
  docker/tests/Rider/_results/EA31337_Rider_202005.json
  docker/tests/Rider/_results/EA31337_Rider_202005.txt
  docker/tests/Rider/_results/EA31337_Rider_202006.json
  docker/tests/Rider/_results/EA31337_Rider_202006.txt
  docker/tests/Rider/_results/EA31337_Rider_202007.json
  docker/tests/Rider/_results/EA31337_Rider_202007.txt
  docker/tests/Rider/_results/EA31337_Rider_202008.json
  docker/tests/Rider/_results/EA31337_Rider_202008.txt
  docker/tests/Rider/_results/EA31337_Rider_202009.json
  docker/tests/Rider/_results/EA31337_Rider_202009.txt
  docker/tests/Rider/_results/EA31337_Rider_202010.json
  docker/tests/Rider/_results/EA31337_Rider_202010.txt
  docker/tests/Rider/_results/EA31337_Rider_202011.json
  docker/tests/Rider/_results/EA31337_Rider_202011.txt
  docker/tests/Rider/_results/EA31337_Rider_202012.json
  docker/tests/Rider/_results/EA31337_Rider_202012.txt
Labels: none

Lite: Backtest Results for 2020
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.txt
Labels: none

Advanced: Backtest Results for 2020
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.txt
Labels: none

Rider: Backtest Results for 2020
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_1000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_1000USD_spread1.txt
Labels: none

gitattributes: Adds working-tree-encoding for UTF-16 files
  .gitattributes
Labels: git

Do not change price stop methods for Advanced
  src/EA31337.mq5
Labels: none

Sets ea_version to 2.004
  src/EA31337.mqproj
  src/include/common/define.h
Labels: none

Sets Awesome strategy as default
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/inputs.mqh
  src/include/common/rider/inputs.mqh
Labels: none

Docker: Removes EA_Risk_MarginMax from .ini files
  docker/backtest/Advanced/all-yearly/EA-Tester.ini
  docker/backtest/Lite/all-yearly/EA-Tester.ini
  docker/backtest/Rider/all-yearly/EA-Tester.ini
Labels: none

Lite: Monthly test results
  docker/tests/Lite/_results/EA31337_Lite_202001.json
  docker/tests/Lite/_results/EA31337_Lite_202001.txt
  docker/tests/Lite/_results/EA31337_Lite_202002.json
  docker/tests/Lite/_results/EA31337_Lite_202002.txt
  docker/tests/Lite/_results/EA31337_Lite_202003.json
  docker/tests/Lite/_results/EA31337_Lite_202003.txt
  docker/tests/Lite/_results/EA31337_Lite_202004.json
  docker/tests/Lite/_results/EA31337_Lite_202004.txt
  docker/tests/Lite/_results/EA31337_Lite_202006.json
  docker/tests/Lite/_results/EA31337_Lite_202006.txt
  docker/tests/Lite/_results/EA31337_Lite_202007.json
  docker/tests/Lite/_results/EA31337_Lite_202007.txt
  docker/tests/Lite/_results/EA31337_Lite_202008.json
  docker/tests/Lite/_results/EA31337_Lite_202008.txt
  docker/tests/Lite/_results/EA31337_Lite_202009.json
  docker/tests/Lite/_results/EA31337_Lite_202009.txt
  docker/tests/Lite/_results/EA31337_Lite_202010.json
  docker/tests/Lite/_results/EA31337_Lite_202010.txt
  docker/tests/Lite/_results/EA31337_Lite_202011.json
  docker/tests/Lite/_results/EA31337_Lite_202011.txt
  docker/tests/Lite/_results/EA31337_Lite_202012.json
  docker/tests/Lite/_results/EA31337_Lite_202012.txt
Labels: none

Advanced: Monthly test results
  docker/tests/Advanced/_results/EA31337_Advanced_202001.json
  docker/tests/Advanced/_results/EA31337_Advanced_202001.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202002.json
  docker/tests/Advanced/_results/EA31337_Advanced_202002.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202003.json
  docker/tests/Advanced/_results/EA31337_Advanced_202003.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202004.json
  docker/tests/Advanced/_results/EA31337_Advanced_202004.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202005.json
  docker/tests/Advanced/_results/EA31337_Advanced_202005.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202006.json
  docker/tests/Advanced/_results/EA31337_Advanced_202006.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202007.json
  docker/tests/Advanced/_results/EA31337_Advanced_202007.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202008.json
  docker/tests/Advanced/_results/EA31337_Advanced_202008.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202009.json
  docker/tests/Advanced/_results/EA31337_Advanced_202009.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202010.json
  docker/tests/Advanced/_results/EA31337_Advanced_202010.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202011.json
  docker/tests/Advanced/_results/EA31337_Advanced_202011.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202012.json
  docker/tests/Advanced/_results/EA31337_Advanced_202012.txt
Labels: none

Rider: Monthly test results
  docker/tests/Rider/_results/EA31337_Rider_202005.json
  docker/tests/Rider/_results/EA31337_Rider_202005.txt
  docker/tests/Rider/_results/EA31337_Rider_202006.json
  docker/tests/Rider/_results/EA31337_Rider_202006.txt
  docker/tests/Rider/_results/EA31337_Rider_202007.json
  docker/tests/Rider/_results/EA31337_Rider_202007.txt
  docker/tests/Rider/_results/EA31337_Rider_202008.json
  docker/tests/Rider/_results/EA31337_Rider_202008.txt
  docker/tests/Rider/_results/EA31337_Rider_202011.json
  docker/tests/Rider/_results/EA31337_Rider_202011.txt
  docker/tests/Rider/_results/EA31337_Rider_202012.json
  docker/tests/Rider/_results/EA31337_Rider_202012.txt
Labels: none

GHA: Exludes backtest with 1k and spread 10
  .github/workflows/backtest.yml
Labels: none

Lite: Backtest Results for 2020
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.txt
Labels: none

Advanced: Backtest Results for 2020
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.txt
Labels: none

Lite: Monthly test results
  docker/tests/Lite/_results/EA31337_Lite_202004.json
  docker/tests/Lite/_results/EA31337_Lite_202005.json
  docker/tests/Lite/_results/EA31337_Lite_202005.txt
  docker/tests/Lite/_results/EA31337_Lite_202010.json
  docker/tests/Lite/_results/EA31337_Lite_202012.json
Labels: none

Advanced: Monthly test results
  docker/tests/Advanced/_results/EA31337_Advanced_202001.json
  docker/tests/Advanced/_results/EA31337_Advanced_202006.json
  docker/tests/Advanced/_results/EA31337_Advanced_202010.json
  docker/tests/Advanced/_results/EA31337_Advanced_202012.json
Labels: none

Rider: Monthly test results
  docker/tests/Rider/_results/EA31337_Rider_202002.json
  docker/tests/Rider/_results/EA31337_Rider_202002.txt
  docker/tests/Rider/_results/EA31337_Rider_202003.json
  docker/tests/Rider/_results/EA31337_Rider_202003.txt
  docker/tests/Rider/_results/EA31337_Rider_202004.json
  docker/tests/Rider/_results/EA31337_Rider_202004.txt
  docker/tests/Rider/_results/EA31337_Rider_202005.json
  docker/tests/Rider/_results/EA31337_Rider_202009.json
  docker/tests/Rider/_results/EA31337_Rider_202009.txt
  docker/tests/Rider/_results/EA31337_Rider_202010.json
  docker/tests/Rider/_results/EA31337_Rider_202010.txt
  docker/tests/Rider/_results/EA31337_Rider_202012.json
Labels: none

Lite: Backtest Results for 2020
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.txt
Labels: none

Advanced: Backtest Results for 2020
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.txt
Labels: none

Rider: Removes reset of ppm/ppl
  src/EA31337.mq5
Labels: none

Lite: Monthly test results
  docker/tests/Lite/_results/EA31337_Lite_202003.json
  docker/tests/Lite/_results/EA31337_Lite_202004.json
  docker/tests/Lite/_results/EA31337_Lite_202010.json
Labels: none

Advanced: Monthly test results
  docker/tests/Advanced/_results/EA31337_Advanced_202001.json
  docker/tests/Advanced/_results/EA31337_Advanced_202003.json
  docker/tests/Advanced/_results/EA31337_Advanced_202012.json
Labels: none

Rider: Monthly test results
  docker/tests/Rider/_results/EA31337_Rider_202002.json
  docker/tests/Rider/_results/EA31337_Rider_202003.json
  docker/tests/Rider/_results/EA31337_Rider_202004.json
  docker/tests/Rider/_results/EA31337_Rider_202010.json
Labels: none

Lite: Backtest Results for 2020
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_100000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread1.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_10000USD_spread10.txt
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.json
  docker/backtest/Lite/all-yearly/2020/_results/EA31337-Lite_2020_1000USD_spread1.txt
Labels: none

Advanced: Backtest Results for 2020
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_100000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread1.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_10000USD_spread10.txt
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.json
  docker/backtest/Advanced/all-yearly/2020/_results/EA31337-Advanced_2020_1000USD_spread1.txt
Labels: none

Rider: Backtest Results for 2020
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_100000USD_spread10.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread1.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_10000USD_spread10.txt
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_1000USD_spread1.json
  docker/backtest/Rider/all-yearly/2020/_results/EA31337-Rider_2020_1000USD_spread1.txt
Labels: none

Lite: Monthly test results
  docker/tests/Lite/_results/EA31337_Lite_202001.json
  docker/tests/Lite/_results/EA31337_Lite_202001.txt
  docker/tests/Lite/_results/EA31337_Lite_202002.json
  docker/tests/Lite/_results/EA31337_Lite_202002.txt
  docker/tests/Lite/_results/EA31337_Lite_202003.json
  docker/tests/Lite/_results/EA31337_Lite_202003.txt
  docker/tests/Lite/_results/EA31337_Lite_202004.json
  docker/tests/Lite/_results/EA31337_Lite_202004.txt
  docker/tests/Lite/_results/EA31337_Lite_202005.json
  docker/tests/Lite/_results/EA31337_Lite_202005.txt
  docker/tests/Lite/_results/EA31337_Lite_202006.json
  docker/tests/Lite/_results/EA31337_Lite_202006.txt
  docker/tests/Lite/_results/EA31337_Lite_202007.json
  docker/tests/Lite/_results/EA31337_Lite_202007.txt
  docker/tests/Lite/_results/EA31337_Lite_202008.json
  docker/tests/Lite/_results/EA31337_Lite_202008.txt
  docker/tests/Lite/_results/EA31337_Lite_202009.json
  docker/tests/Lite/_results/EA31337_Lite_202009.txt
  docker/tests/Lite/_results/EA31337_Lite_202010.json
  docker/tests/Lite/_results/EA31337_Lite_202010.txt
  docker/tests/Lite/_results/EA31337_Lite_202011.json
  docker/tests/Lite/_results/EA31337_Lite_202011.txt
  docker/tests/Lite/_results/EA31337_Lite_202012.json
  docker/tests/Lite/_results/EA31337_Lite_202012.txt
Labels: none

Advanced: Monthly test results
  docker/tests/Advanced/_results/EA31337_Advanced_202001.json
  docker/tests/Advanced/_results/EA31337_Advanced_202001.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202002.json
  docker/tests/Advanced/_results/EA31337_Advanced_202002.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202003.json
  docker/tests/Advanced/_results/EA31337_Advanced_202003.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202004.json
  docker/tests/Advanced/_results/EA31337_Advanced_202004.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202005.json
  docker/tests/Advanced/_results/EA31337_Advanced_202005.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202006.json
  docker/tests/Advanced/_results/EA31337_Advanced_202006.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202007.json
  docker/tests/Advanced/_results/EA31337_Advanced_202007.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202008.json
  docker/tests/Advanced/_results/EA31337_Advanced_202008.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202009.json
  docker/tests/Advanced/_results/EA31337_Advanced_202009.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202010.json
  docker/tests/Advanced/_results/EA31337_Advanced_202010.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202011.json
  docker/tests/Advanced/_results/EA31337_Advanced_202011.txt
  docker/tests/Advanced/_results/EA31337_Advanced_202012.json
  docker/tests/Advanced/_results/EA31337_Advanced_202012.txt
Labels: none

Rider: Monthly test results
  docker/tests/Rider/_results/EA31337_Rider_202001.json
  docker/tests/Rider/_results/EA31337_Rider_202001.txt
  docker/tests/Rider/_results/EA31337_Rider_202002.json
  docker/tests/Rider/_results/EA31337_Rider_202002.txt
  docker/tests/Rider/_results/EA31337_Rider_202003.json
  docker/tests/Rider/_results/EA31337_Rider_202003.txt
  docker/tests/Rider/_results/EA31337_Rider_202004.json
  docker/tests/Rider/_results/EA31337_Rider_202004.txt
  docker/tests/Rider/_results/EA31337_Rider_202005.json
  docker/tests/Rider/_results/EA31337_Rider_202005.txt
  docker/tests/Rider/_results/EA31337_Rider_202006.json
  docker/tests/Rider/_results/EA31337_Rider_202006.txt
  docker/tests/Rider/_results/EA31337_Rider_202007.json
  docker/tests/Rider/_results/EA31337_Rider_202007.txt
  docker/tests/Rider/_results/EA31337_Rider_202008.json
  docker/tests/Rider/_results/EA31337_Rider_202008.txt
  docker/tests/Rider/_results/EA31337_Rider_202009.json
  docker/tests/Rider/_results/EA31337_Rider_202009.txt
  docker/tests/Rider/_results/EA31337_Rider_202010.json
  docker/tests/Rider/_results/EA31337_Rider_202010.txt
  docker/tests/Rider/_results/EA31337_Rider_202011.json
  docker/tests/Rider/_results/EA31337_Rider_202011.txt
  docker/tests/Rider/_results/EA31337_Rider_202012.json
  docker/tests/Rider/_results/EA31337_Rider_202012.txt
Labels: none

Uses different strategies by default
  src/include/common/advanced/inputs.mqh
  src/include/common/lite/inputs.mqh
  src/include/common/rider/inputs.mqh
Labels: none

Lite: Monthly test results
  docker/tests/Lite/_results/EA31337_Lite_202001.json
  docker/tests/Lite/_results/EA31337_Lite_202001.txt
  docker/tests/Lite/_results/EA31337_Lite_202002.json
  docker/tests/Lite/_results/EA31337_Lite_202002.txt
  docker/tests/Lite/_results/EA31337_Lite_202003.json
  docker/tests/Lite/_results/EA31337_Lite_202003.txt
  docker/tests/Lite/_results/EA31337_Lite_202004.json
  docker/tests/Lite/_results/EA31337_Lite_202004.txt
  docker/tests/Lite/_results/EA31337_Lite_202005.json
  docker/tests/Lite/_results/EA31337_Lite_202005.txt
  docker/tests/Lite/_results/EA31337_Lite_202006.json
  docker/tests/Lite/_results/EA31337_Lite_202006.txt
  docker/tests/Lite/_results/EA31337_Lite_202007.json
  docker/tests/Lite/_results/EA31337_Lite_202007.txt
  docker/tests/Lite/_results/EA31337_Lite_202008.json
  docker/tests/Lite/_results/EA31337_Lite_202008.txt
  docker/tests/Lite/_results/EA31337_Lite_202009.json
  docker/tests/Lite/_results/EA31337_Lite_202009.txt
  docker/tests/Lite/_results/EA31337_Lite_202010.json
  docker/tests/Lite/_results/EA31337_Lite_202010.txt
  docker/tests/Lite/_results/EA31337_Lite_202011.json
  docker/tests/Lite/_results/EA31337_Lite_202011.txt
  docker/tests/Lite/_results/EA31337_Lite_202012.json
  docker/tests/Lite/_results/EA31337_Lite_202012.txt
Labels: none
